absl-py==2.1.0
accelerate==0.28.0
acorn==0.0.15
aiobotocore==2.7.0
aiofiles==0.7.0
aiohttp @ file:///C:/b/abs_b78zt6vo64/croot/aiohttp_1694181126607/work
aioitertools==0.11.0
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
aiosqlite @ file:///C:/b/abs_9djc_0pyi3/croot/aiosqlite_1683773915844/work
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio @ file:///C:/ci/anyio_1644481856696/work/dist
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci/argon2-cffi-bindings_1644569876605/work
asgiref==3.6.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout==4.0.3
attrs @ file:///C:/b/abs_35n0jusce8/croot/attrs_1695717880170/work
auth-token==0.0.3
autocommand==2.2.2
Babel @ file:///C:/b/abs_a2shv_3tqi/croot/babel_1671782804377/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backoff==2.2.1
backports.csv==1.0.7
bcrypt==4.1.2
beautifulsoup4 @ file:///C:/ci/beautifulsoup4_1650293028159/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker @ file:///C:/b/abs_d9y2dm7cw2/croot/blinker_1696539752170/work
blis==0.7.9
boltons @ file:///C:/b/abs_707eo7c09t/croot/boltons_1677628723117/work
boto3==1.34.68
botocore==1.34.68
Bottleneck @ file:///C:/Windows/Temp/abs_3198ca53-903d-42fd-87b4-03e6d03a8381yfwsuve8/croots/recipe/bottleneck_1657175565403/work
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
build==1.2.1
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
catalogue==2.0.8
certifi==2023.7.22
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
chardet==4.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cheroot==10.0.0
CherryPy==18.8.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.3
cloudpickle @ file:///C:/b/abs_3796yxesic/croot/cloudpickle_1683040098851/work
cmdstanpy==1.1.0
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
coloredlogs==15.0.1
comm @ file:///C:/b/abs_1419earm7u/croot/comm_1671231131638/work
conda @ file:///C:/b/abs_04cd8uayv2/croot/conda_1696257511532/work
conda-content-trust @ file:///C:/Windows/TEMP/abs_4589313d-fc62-4ccc-81c0-b801b4449e833j1ajrwu/croots/recipe/conda-content-trust_1658126379362/work
conda-package-handling @ file:///C:/b/abs_b9wp3lr1gn/croot/conda-package-handling_1691008700066/work
conda_package_streaming @ file:///C:/b/abs_6c28n38aaj/croot/conda-package-streaming_1690988019210/work
confection==0.0.4
contourpy==1.0.7
contractions==0.1.73
convertdate==2.4.0
crispy-bootstrap5==0.7
cryptography @ file:///C:/b/abs_8ecplyc3n2/croot/cryptography_1677533105000/work
ctransformers==0.2.27
cycler==0.10.0
cymem==2.0.7
Cython==0.29.35
dataclasses-json==0.5.8
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.5.0/de_core_news_sm-3.5.0-py3-none-any.whl
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated==1.2.14
diffusers==0.27.2
distlib==0.3.6
Django==3.2.10
django-allauth==0.54.0
django-bootstrap4==23.1
django-cors-headers==4.3.0
django-crispy-forms==2.0
django-debug-toolbar==4.0.0
django-uni-form==0.9.0
djangorestframework==3.14.0
dnspython==2.5.0
docutils==0.20.1
easyocr==1.7.1
EasyProcess==1.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoint2==1.1
entrypoints @ file:///C:/ci/entrypoints_1649926676279/work
environs==10.3.0
ephem==4.1.4
et-xmlfile==1.1.0
exceptiongroup @ file:///C:/b/abs_25wqfvkf25/croot/exceptiongroup_1668714345637/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
ez-setup==0.9
fastapi==0.110.1
fastjsonschema @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_ebruxzvd08/croots/recipe/python-fastjsonschema_1661376484940/work
feedparser==6.0.10
filelock==3.11.0
filterpy==1.4.5
fire==0.5.0
Flask==3.0.2
Flask-Cors==4.0.0
Flask-JSGlue==0.3.1
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.39.3
from-root==1.3.0
frozenlist==1.3.3
fsspec==2023.10.0
future==0.18.3
fuzzywuzzy==0.18.0
gast==0.4.0
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.31
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth @ file:///C:/b/abs_defnokp9xd/croot/google-auth_1694152741394/work
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-generativeai==0.3.2
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
graphviz==0.20.3
greenlet==2.0.2
grpcio==1.60.0
grpcio-status==1.60.0
h11==0.14.0
h5py==3.8.0
HandTrackingModule==0.1
holidays==0.27
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
httptools==0.6.1
huggingface-hub==0.22.2
humanfriendly==10.0
idna==2.10
imageio==2.28.1
imbalanced-learn==0.12.0
imblearn==0.0
importlib-metadata==6.5.0
importlib-resources==5.12.0
inflect==6.0.4
ipykernel @ file:///C:/b/abs_07rkft_vaz/croot/ipykernel_1691121700587/work
ipython @ file:///C:/b/abs_e5729i179y/croot/ipython_1694181400005/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///C:/b/abs_5awapknmz_/croot/ipywidgets_1679394824767/work
itsdangerous==2.1.2
jaraco.collections==4.1.0
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
jax==0.4.8
jedi @ file:///C:/ci/jedi_1644315428305/work
Jinja2==3.0.1
jmespath==1.0.1
joblib==1.2.0
jovian==0.2.47
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch==1.33
jsonpointer==2.1
jsonschema @ file:///C:/b/abs_6ccs97j_l8/croot/jsonschema_1676558690963/work
jupyter @ file:///C:/Windows/TEMP/abs_56xfdi__li/croots/recipe/jupyter_1659349053177/work
jupyter-console @ file:///C:/b/abs_82xaa6i2y4/croot/jupyter_console_1680000189372/work
jupyter-events @ file:///C:/b/abs_4cak_28ewz/croot/jupyter_events_1684268050893/work
jupyter-server @ file:///C:/b/abs_1cfi3__jl8/croot/jupyter_server_1671707636383/work
jupyter-ydoc @ file:///C:/b/abs_e7m6nh5lao/croot/jupyter_ydoc_1683747253535/work
jupyter_client @ file:///C:/b/abs_d8fk_kz9zk/croot/jupyter_client_1676330195659/work
jupyter_core @ file:///C:/b/abs_c769pbqg9b/croot/jupyter_core_1698937367513/work
jupyter_server_fileid @ file:///C:/b/abs_f1yjnmiq_6/croot/jupyter_server_fileid_1684273602142/work
jupyter_server_ydoc @ file:///C:/b/abs_8ai39bligw/croot/jupyter_server_ydoc_1686767445888/work
jupyterlab @ file:///C:/b/abs_c1msr8zz3y/croot/jupyterlab_1686179674844/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///C:/b/abs_38ad427jkz/croot/jupyterlab_widgets_1679055289211/work
jupyterlab_server @ file:///C:/b/abs_e0qqsihjvl/croot/jupyterlab_server_1680792526136/work
jupyterthemes==0.20.0
k==0.0.1
kaggle==1.5.16
keras==2.15.0
Keras-Applications==1.0.8
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
keras2onnx==1.7.0
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
kubernetes==29.0.0
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.40
langchain-text-splitters==0.0.1
langchainplus-sdk==0.0.10
langcodes==3.3.0
langsmith==0.1.40
lapx==0.5.7
lazy_loader==0.2
lesscpy==0.15.1
Levenshtein==0.21.1
libclang==16.0.0
lime==0.2.0.1
LunarCalendar==0.0.9
lxml @ file:///C:/b/abs_c2bg6ck92l/croot/lxml_1679646459966/work
Markdown @ file:///C:/b/abs_98lv_ucina/croot/markdown_1671541919225/work
markdown-it-py==2.2.0
markup==0.2
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
mdurl==0.1.2
mediapipe==0.9.3.0
menuinst @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_455sf5o0ct/croots/recipe/menuinst_1661805970842/work
mistune @ file:///C:/ci_310/mistune_1642084168466/work
ml-dtypes==0.2.0
mmh3==4.1.0
monotonic==1.6
more-itertools==9.1.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
multidict @ file:///C:/b/abs_6cx_8w3cv2/croot/multidict_1665674238352/work
murmurhash==1.0.9
mypy-extensions==1.0.0
mysql-connector==2.2.9
mysql-connector-python==8.2.0
mysqlclient==2.1.0
nbclassic @ file:///C:/b/abs_c8_rs7b3zw/croot/nbclassic_1681756186106/work
nbclient @ file:///C:/b/abs_cal0q5fyju/croot/nbclient_1698934263135/work
nbconvert @ file:///C:/b/abs_4av3q4okro/croot/nbconvert_1668450658054/work
nbformat @ file:///C:/b/abs_5a2nea1iu2/croot/nbformat_1694616866197/work
nest-asyncio @ file:///C:/b/abs_3a_4jsjlqu/croot/nest-asyncio_1672387322800/work
networkx==3.1
ninja==1.11.1.1
nltk==3.8.1
nomkl==0.0.3
notebook @ file:///C:/b/abs_e2qn6c85jb/croot/notebook_1690985290943/work
notebook_shim @ file:///C:/b/abs_ebfczttg6x/croot/notebook-shim_1668160590914/work
numexpr==2.8.4
numpy @ file:///D:/bld/numpy_1700874645773/work/dist/numpy-1.26.2-cp310-cp310-win_amd64.whl#sha256=8cfb1ae9bf54a72d05ed128f65e82ba74a830d2e1ca1cb9956b2a805e79a383e
oauthlib @ file:///C:/b/abs_44riqpe5gg/croot/oauthlib_1679489644705/work
omegaconf==2.3.0
onnx==1.13.1
onnxconverter-common==1.13.0
onnxruntime==1.14.1
openai==0.27.8
openapi-schema-pydantic==1.2.4
opencv-contrib-python==4.7.0.72
opencv-python==4.8.1.78
opencv-python-headless==4.8.0.74
opendatasets==0.1.22
openpyxl==3.1.2
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
opt-einsum==3.3.0
orjson==3.10.0
ortools==9.6.2534
overrides==7.7.0
packaging==23.2
pandas==2.0.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathy==0.10.1
patsy==0.5.3
Pattern==3.6
pdfminer.six==20221105
phonenumbers==8.13.22
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.5.0
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
plotly==5.14.1
pluggy @ file:///C:/ci/pluggy_1648042746254/work
ply==3.11
portend==3.1.0
posthog==3.5.0
preshed==3.0.8
prometheus-client @ file:///C:/Windows/TEMP/abs_ab9nx8qb08/croots/recipe/prometheus_client_1659455104602/work
prompt-toolkit @ file:///C:/b/abs_6coz5_9f2s/croot/prompt-toolkit_1672387908312/work
prophet==1.1.4
proto-plus==1.23.0
protobuf==4.23.2
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pulsar-client==3.4.0
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
py4j @ file:///C:/b/abs_41aa5j9cc8/croot/py4j_1690918294845/work
pyahocorasick==2.0.0
pyarrow==11.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pyclipper==1.3.0.post5
pycosat @ file:///C:/b/abs_31zywn1be3/croot/pycosat_1696537126223/work
pycountry==22.3.5
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.7
pydeck==0.8.1b0
pydotplus==2.0.2
PyGetWindow==0.0.9
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
PyJWT @ file:///C:/ci/pyjwt_1657529477795/work
PyMeeus==0.5.12
pymongo==4.6.1
Pympler==1.0.1
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyparsing==3.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
PyPika==0.48.9
pypiwin32==223
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-sip @ file:///C:/b/abs_c0pi2mimq3/croot/pyqt-split_1698769125270/work/pyqt_sip
pyreadline3==3.4.1
PyRect==0.2.0
pyrsistent @ file:///C:/ci_310/pyrsistent_1642117077485/work
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pyspark @ file:///C:/b/abs_272m978w69/croot/pyspark_1690925134865/work
python-bidi==0.4.2
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-docx==0.8.11
python-dotenv==1.0.0
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
python-Levenshtein==0.21.1
python-magic==0.4.27
python-slugify==8.0.1
python3-openid==3.2.0
pytils==0.4.1
pytweening==1.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32==305.1
pywinpty @ file:///C:/b/abs_73vshmevwq/croot/pywinpty_1677609966356/work/target/wheels/pywinpty-2.0.10-cp310-none-win_amd64.whl
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
pyzmq @ file:///C:/ci/pyzmq_1657616000714/work
qtconsole @ file:///C:/b/abs_eb4u9jg07y/croot/qtconsole_1681402843494/work
QtPy @ file:///C:/ci/qtpy_1662015130233/work
rapidfuzz==3.1.1
regex==2023.3.23
requests @ file:///C:/b/abs_316c2inijk/croot/requests_1690400295842/work
requests-oauthlib==1.3.0
requests-toolbelt==1.0.0
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rich==13.3.4
roboflow==1.1.26
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruamel.yaml @ file:///C:/b/abs_30ee5qbthd/croot/ruamel.yaml_1666304562000/work
ruamel.yaml.clib @ file:///C:/b/abs_aarblxbilo/croot/ruamel.yaml.clib_1666302270884/work
s3fs==2023.10.0
s3transfer==0.10.1
safetensors==0.4.1
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
semantic-version==2.10.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
sentence-transformers==2.6.1
sentry-sdk==1.20.0
setuptools-rust==1.6.0
sgmllib3k==1.0.0
shapely==2.0.2
shellingham==1.5.4
sip @ file:///C:/b/abs_edevan3fce/croot/sip_1698675983372/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
smmap==5.0.0
sniffio @ file:///C:/ci_310/sniffio_1642092172680/work
sounddevice==0.4.6
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spyder-kernels @ file:///C:/b/abs_862e4aayi8/croot/spyder-kernels_1681307297029/work
SQLAlchemy==2.0.16
sqlparse==0.4.4
srsly==2.4.6
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.37.2
statsmodels==0.14.0
streamlit==1.29.0
sympy==1.11.1
tempora==5.2.2
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit @ file:///C:/tf/b/tensorboard-plugin-wit_1660162132996/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor @ file:///C:/b/abs_16qe7jhw7n/croot/termcolor_1668084642458/work
terminado @ file:///C:/b/abs_25nakickad/croot/terminado_1671751845491/work
text-unidecode==1.3
textsearch==0.0.24
tf2onnx==1.14.0
thinc==8.1.9
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.4.12
tiktoken==0.6.0
tinycss2 @ file:///C:/b/abs_52w5vfuaax/croot/tinycss2_1668168823131/work
tokenizers==0.15.0
toml==0.10.2
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tools==0.1.9
toolz==0.12.0
torch==2.0.0
torchdata==0.6.0
torchtext==0.15.1
torchvision==0.15.1
tornado @ file:///C:/b/abs_0cbrstidzg/croot/tornado_1696937003724/work
tqdm @ file:///C:/b/abs_f76j9hg7pv/croot/tqdm_1679561871187/work
traitlets @ file:///C:/b/abs_e5m_xjjl94/croot/traitlets_1671143896266/work
transformers==4.36.2
truststore @ file:///C:/b/abs_55z7b3r045/croot/truststore_1695245455435/work
tweepy==4.14.0
typer==0.12.1
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal==4.3
ultralytics==8.0.219
urllib3 @ file:///C:/b/abs_9cmlsrm3ys/croot/urllib3_1698257595508/work
uuid==1.30
uvicorn==0.18.3
validators==0.20.0
virtualenv==20.22.0
wasabi==1.1.1
watchdog==3.0.0
watchfiles==0.21.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///C:/ci_310/websocket-client_1642093970919/work
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension @ file:///C:/b/abs_882k4_4kdf/croot/widgetsnbextension_1679313880295/work
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wrapt @ file:///C:/Windows/Temp/abs_7c3dd407-1390-477a-b542-fd15df6a24085_diwiza/croots/recipe/wrapt_1657814452175/work
xgboost==1.7.5
y-py @ file:///C:/b/abs_b7f5go6r0j/croot/y-py_1683662173571/work
yarl @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e5nlunspj6/croots/recipe/yarl_1661437086516/work
ypy-websocket @ file:///C:/b/abs_4e65ywlnv8/croot/ypy-websocket_1684172103529/work
zc.lockfile==3.0.post1
zipp==3.15.0
zstandard==0.19.0
